@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500&family=Manrope:wght@800&display=swap');
*{
    padding: 0;
    margin: 0;
}
body{
    font-family: 'Inter', sans-serif;
    background-color: rgb(25,25,25);
    color: white;
    
}
.wrap{
    max-width: 1080px;
    min-width: 320px;
    margin: 0 auto;
    padding: 0 15px;
    box-sizing: border-box;
    
}

.header{
    display: flex;
    align-items: center;
    padding: 10px 35px;
    max-width: 50%;
    justify-content: center;
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: rgb(36, 36, 36);
    border-radius: 16px;
    
}
.logo {
    width: 50px;
    height: 50px;
    align-items: center;
    display: flex;
}
.menu {
    display: flex;
    list-style: none;
}
.menu li{
    padding: 10px 25px;
    margin-left: 34px;
    transition: 0.2s;
    border-radius: 32px;
    
}
.menu li a{
    font-family: 'Manrope', sans-serif;
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 20px;
    transition: 0.2s;
}
.menu a:hover{
    color: rgb(182, 182, 182);
}
.main__wrap{
    background: url(/img/2023-06-28_14.50.01.png) center center no-repeat;
    background-size: cover;
    padding: 75px 0 160px 0;
}
.main{
    color: white;
    /*text-align: center;*/
    max-width: 720px;
    min-width: 320px;
    margin: 0 auto;
    margin-left: 200px;
    padding: 0 15px;
    box-sizing: border-box;
}
.main__txt{
    font-weight: 500;
    font-size: 25px;
    margin-bottom: 40px;
}
.main__title{
    font-size: 35px;
    margin-bottom: 40px;
}
.main__subtitle{
    font-weight: 300;
    margin-bottom: 40px;
}
.btn{
    font-weight: 500;
    color: white;
    text-decoration: none;
    border: 2px solid white;
    border-radius: 15px;
    font-size: 1.5rem;
    padding: 16px 60px;
    display: inline-block;
    transition: 0.2s;
}
.btn:hover{
    border: 2px solid rgb(49, 166, 255);
    background-color: rgb(49, 166, 255);
}
.plus__wrap{
    padding: 50px 0px;
}
.plus__wrap::nth-child(){
    padding: 50px 0px;
    flex-direction: row-reverse;
}
.parttitle{
    font-family: 'Manrope', sans-serif;
    text-align: center;
    font-size: 40px;
    margin-bottom: 80px;
}
.plus__item{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 100px;
}
.plus__img{
    width: 47%;
}
.plus__txt{
    width: 50%;
}
.plus__txt h3{
    font-weight: 500;
    color: rgb(49, 166, 255);
    font-size: 1.5rem;
    margin-bottom: 20px;
}
.plus__txt h2{
    font-size: 2.5rem;
    margin-bottom: 30px;
}
.plus__txt{
    font-size: 1.5rem;
    margin-bottom: 20px;
}
.plus__txt>.red_color{
    color: rgb(224,36,67);
}
.plus__txt>.green_color{
    color: rgb(39, 211, 116);
}
